.js-part-data,
.js-owner-data {
  position: relative;
  display: block;
}

.set-colors .color-circle {
  width: 3em;
  height: 3em;
}

.color-circle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.3em;

  &.transparent::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: white;
    opacity: 50%;
    transform: rotate(45deg);
    transform-origin: left center;
  }
}

.hover {
  &:hover {
    border: 2px solid blue !important;
    opacity: 80% !important;
  }
}

[clicked="true"] {
  border: 4px dashed red !important;
}